{% extends 'layout.html' %} {% block content %}
<div class="container">
  {% for row in content %}
  <div class="card">
    <img
      class="card-image"
      src="https://i1.sndcdn.com/artworks-EK5MdO9gU0KhM9ez-rIOYrw-t500x500.jpg"
      alt="produce image for the {{ row[1] }} VScode extension."
    />
    <h1 class="card-name">{{ row[1] }}</h1>
    <p class="card-about">{{ row[3] }}</p>
    <a class="card-link" href="{{ row[2] }}">
      <button class="btn">Read More</button></a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
